@theme {
  --color-primary: #2563eb;
  --color-primary-point: #1d4fbb;

  --color-secondary: #f1f5f9;
  --color-secondary-point: #e2e8f0;

  --color-disabled: #cbd5e1;

  --color-description: #475569;
  --color-footer-description: #64748b;
  --color-patterns: #dbeafe;

  --color-background: #f8fafc;

  --color-accent-light: #1f2937;
  --color-accent: #0f172a;
}
