@layer base {
  input,
  textarea {
    @apply outline-none;
  }

  input:focus-visible,
  textarea:focus-visible {
    @apply border-accent outline-accent outline-1;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }
}
